<div class="container px-8 py-20 mx-auto font-sans">
  <form action="/hall-of-fame" method="post" class="players-query-form">
    <section>
      {{!-- Main title section --}}
      <div class="mb-20 space-y-8">
        <div class="flex flex-wrap items-center justify-center sm:gap-x-5 md:gap-x-10 xl:gap-x-15 sm:flex-nowrap">
          <div class="hidden w-1/3 sm:block">
            <img src="/images/scroll-divider.webp" alt="Fancy Scroll Divider">
          </div>
          <div
            class="flex-1 w-1/3 mb-6 font-serif font-bold text-center uppercase basis-full sm:basis-auto text-oak sm:mb-0">
            <h2 class="mb-4 text-2xl md:text-3xl lg:whitespace-nowrap">Our Hall Of</h2>
            <h1 class="text-4xl md:text-5xl">Fame</h1>
          </div>
          <div class="w-1/2 sm:hidden">
            <img src="/images/scroll-divider.webp" alt="Fancy Scroll Divider">
          </div>
          <div class="w-1/2 sm:w-1/3">
            <img src="/images/scroll-divider.webp" alt="Fancy Scroll Divider" class="-scale-x-100">
          </div>
        </div>
        <p class="paragraph">
          Celebrate the legends of chess in our Hall of Fame. Discover the stories, achievements, and timeless
          contributions of the greatest players in history.
        </p>
        <div class="searchbar">
          <input type="text" placeholder="Search for a player..." name="search"
            value="{{#if options.search}}{{options.search}}{{/if}}">
          <span class="text-xl icon-search"></span>
        </div>
      </div>
    </section>

    <div>
      {{!-- Top players bar --}}
      <div class="flex flex-col mb-4 xl:w-5/6 xl:pl-4 xl:ml-auto gap-y-4">
        <div class="flex flex-col gap-4 md:items-center md:flex-row">
          <h3 class="font-serif text-xl font-bold uppercase">Players</h3>
          <div class="flex flex-wrap items-center flex-1 gap-4">
            <div class="flex items-center flex-1 gap-x-4">
              <button type="submit" class="button beta !px-4 !py-1">Apply</button>
              <button type="reset" class="button beta !px-4 !py-1">Reset</button>
              <div class="bg-ash px-2 py-1 rounded-md border-[1px] border-ash mr-4 whitespace-nowrap">
                {{paging.totalRecords}} results
              </div>
            </div>
            <div class="flex-wrap items-center hidden xl:flex gap-y-4 sm:gap-0">
              <div class="flex items-center">
                {{#if paging.hasPrev}}
                <a href="/hall-of-fame?page={{sub paging.currentPage 1}}"
                  class="bg-ash px-3 py-1 rounded-md border-[1px] border-birch flex gap-x-2 items-center">
                  <span class="icon-prev-arrow"></span>
                  <span>Prev.</span>
                </a>
                {{else}}
                <div
                  class="flex gap-x-2 items-center bg-ash px-3 py-1 rounded-md border-[1px] border-charcoal text-gray-400">
                  <span class="icon-prev-arrow"></span>
                  <span>Prev.</span>
                </div>
                {{/if}}
                {{#if paging.hasPrev}}
                <hr class="w-24 border-[1px] border-birch">
                {{else}}
                {{#if paging.hasNext}}
                <hr class="w-24 border-[1px] border-birch">
                {{else}}
                <hr class="w-24 border-[1px] border-neutral-600">
                {{/if}}
                {{/if}}
                {{#if paging.hasNext}}
                <a href="/hall-of-fame?page={{add paging.currentPage 1}}"
                  class="bg-ash px-3 py-1 rounded-md border-[1px] border-birch flex gap-x-2 items-center">
                  <span>Next</span>
                  <span class="icon-next-arrow"></span>
                </a>
                {{else}}
                <div
                  class="bg-ash px-3 py-1 rounded-md border-[1px] border-charcoal text-gray-400 flex gap-x-2 items-center">
                  <span>Next</span>
                  <span class="icon-next-arrow"></span>
                </div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{#if options.search}}
      <div class="flex gap-x-2">
        <h3
          class="font-serif text-xl font-bold uppercase max-w-full xl:max-w-[80%] overflow-hidden whitespace-nowrap hidden md:block">
          Search For</h3>
        <h3 class="font-serif text-xl font-bold uppercase max-w-full xl:max-w-[80%] overflow-hidden whitespace-nowrap">
          "{{options.search}}"</h3>
      </div>
      {{/if}}
    </div>

    <div class="flex flex-col items-start justify-center xl:flex-row">
      {{!-- Filters side bar --}}
      <div class="w-full xl:w-[16.6667%] xl:border-r-[1px] xl:border-dark-oak xl:mb-0 mb-10 text-oak">
        <div class="grid gap-4 py-4 overflow-x-scroll sm:grid-cols-2 xl:py-0 xl:grid-cols-none xl:flex-col xl:gap-0">

          {{!-- Filters title --}}
          <div class="items-center hidden py-2 pr-4 xl:flex">
            <h3 class="flex-1 font-serif text-xl font-bold uppercase">Filters</h3>
            <span class="text-2xl icon-filter"></span>
          </div>
          <hr class="hidden xl:block border-dark-oak">

          {{!-- Active Filters --}}
          <div
            class="p-4 sm:col-span-2 lg:col-span-1 bg-[url(/images/checkered-background.png)] xl:bg-none bg-neutral-800 xl:bg-transparent xl:mr-2 xl:w-auto xl:p-0 rounded-md xl:rounded-none border-[1px] border-neutral-700 xl:border-0 text-sm sm:text-base">
            <div class="mb-4 xl:my-4">
              <div class="flex items-center xl:pr-3">
                <h3 class="text-oak border-b-[1px] border-oak text-base">Active Filters</h3>
              </div>
            </div>
            <ul class="grid grid-cols-2 mb-4 gap-y-2 sm:gap-y-1 xl:block text-birch active-filters">
              {{#each options.playingStyles}}
              {{#if this}}
              <li>
                <a href="#" data-filter-name="{{@key}}" class="active-filter">
                  <span class="mr-2 icon-cross"></span>
                  <span>{{@key}}</span>
                </a>
              </li>
              {{/if}}
              {{/each}}
              {{#if (neq options.selectedRatingRange "2500-2900") }}
              <li>
                <a href="#" data-filter-name="player-rating" class="active-filter">
                  <span class="mr-2 icon-cross"></span>
                  <span>{{options.selectedRatingRange}} rating</span>
                </a>
              </li>
              {{/if}}
              {{#if options.hasBeenChampion}}
              <li>
                <a href="#" data-filter-name="Former Champion" class="active-filter">
                  <span class="mr-2 icon-cross"></span>
                  <span>Former Champion</span>
                </a>
              </li>
              {{/if}}
            </ul>
          </div>
          <hr class="hidden xl:block border-dark-oak">

          {{!-- Playing styles --}}
          <div
            class="p-4 sm:col-span-2 lg:col-span-1 bg-[url(/images/checkered-background.png)] xl:bg-none bg-neutral-800 xl:bg-transparent xl:mr-2 xl:w-auto xl:p-0 rounded-md xl:rounded-none border-[1px] border-neutral-700 xl:border-0">
            <div class="mb-4 xl:my-4">
              <div class="flex xl:pr-3">
                <h3 class="text-oak border-b-[1px] border-oak">Playing Styles</h3>
              </div>
            </div>
            <ul class="grid grid-cols-2 text-sm gap-y-2 sm:gap-y-1 text-birch xl:grid-cols-1 sm:text-base">
              {{#each options.playingStyles}}
              <li class="flex items-center">
                <label for="{{@key}}" class="flex items-center w-full cursor-pointer group">
                  <div class="checkbox-container">
                    <input type="checkbox" name="playingStyles" id="{{@key}}" value="{{@key}}" class="checkbox" {{#if
                      this}}checked{{/if}}>
                    <span class="tickmark icon-cross"></span>
                  </div>
                  <span class="ml-2">{{@key}}</span>
                </label>
              </li>
              {{/each}}
            </ul>
          </div>

          {{!-- Peak rating --}}
          <div
            class="sm:col-span-2 md:col-span-1 p-4 bg-[url(/images/checkered-background.png)] xl:bg-none bg-neutral-800 xl:bg-transparent xl:mr-2 xl:w-auto xl:p-0 rounded-md xl:rounded-none border-[1px] border-neutral-700 xl:border-0">
            <div class="mb-4 xl:my-4">
              <div class="flex xl:pr-3">
                <h3 class="text-oak border-b-[1px] border-oak">Peak Rating (elo)</h3>
              </div>
            </div>
            <ul class="grid grid-cols-2 text-sm gap-y-2 sm:gap-y-1 text-birch xl:grid-cols-1 sm:text-base">
              {{#each options.ratings}}
              <li class="flex items-center">
                <label for="{{this}}" class="flex items-center w-full cursor-pointer group">
                  <div class="radio-container">
                    <input type="radio" name="rating" class="radio {{#if (eq this " 2500-2900")}}default-value{{/if}}"
                      id="{{this}}" value="{{this}}" {{#if (eq ../options.selectedRatingRange this)}}checked{{/if}}>
                    <span class="dot"></span>
                  </div>
                  <span class="ml-2">{{this}}</span>
                </label>
              </li>
              {{/each}}
            </ul>
          </div>

          {{!-- Was world champion --}}
          <div
            class="sm:col-span-2 md:col-span-1 p-4 bg-[url(/images/checkered-background.png)] xl:bg-none bg-neutral-800 xl:bg-transparent xl:mr-2 xl:w-auto rounded-md xl:rounded-none xl:p-0 border-[1px] border-neutral-700 xl:border-0">
            <div class="mb-4 xl:my-4">
              <div class="flex xl:pr-3">
                <h3 class="text-oak border-b-[1px] border-oak">Chess Champion</h3>
              </div>
            </div>
            <label for="formerChampion" class="flex items-center cursor-pointer gap-x-2 group">
              <div class="switch">
                <input type="checkbox" name="formerChampion" id="formerChampion" value="Former Champion" {{#if
                  options.hasBeenChampion}}checked{{/if}} class="">
                <span class="switch-slider"></span>
              </div>
              <span class="text-birch">Former Champion</span>
            </label>
          </div>
        </div>
      </div>
      {{!-- Paging bar for smaller screen sizes --}}
      <div class="flex items-center justify-center w-full mb-4 sm:justify-start xl:hidden">
        {{#if paging.hasPrev}}
        <a href="/hall-of-fame?page={{sub paging.currentPage 1}}"
          class="bg-ash px-3 py-1 rounded-md border-[1px] border-birch flex gap-x-2 items-center">
          <span class="icon-prev-arrow"></span>
          <span>Prev.</span>
        </a>
        {{else}}
        <div class="flex gap-x-2 items-center bg-ash px-3 py-1 rounded-md border-[1px] border-charcoal text-gray-400">
          <span class="icon-prev-arrow"></span>
          <span>Prev.</span>
        </div>
        {{/if}}
        {{#if paging.hasPrev}}
        <hr class="w-24 border-[1px] border-birch">
        {{else}}
        {{#if paging.hasNext}}
        <hr class="w-24 border-[1px] border-birch">
        {{else}}
        <hr class="w-24 border-[1px] border-neutral-600">
        {{/if}}
        {{/if}}
        {{#if paging.hasNext}}
        <a href="/hall-of-fame?page={{add paging.currentPage 1}}"
          class="bg-ash px-3 py-1 rounded-md border-[1px] border-birch flex gap-x-2 items-center">
          <span>Next</span>
          <span class="icon-next-arrow"></span>
        </a>
        {{else}}
        <div class="bg-ash px-3 py-1 rounded-md border-[1px] border-charcoal text-gray-400 flex gap-x-2 items-center">
          <span>Next</span>
          <span class="icon-next-arrow"></span>
        </div>
        {{/if}}
      </div>
      <div class="w-full xl:w-[83.33333%] xl:pl-4">
        <div class="grid gap-4 md:grid-cols-2">
          {{#each players}}
          <div>
            <a href="/hall-of-fame/{{this.id}}">
              <div
                class="flex items-center md:h-48 lg:h-auto p-4 bg-ash bg-[url(/images/checkered-background.png)] rounded-md border-charcoal border-[1px]">
                <div class="flex flex-col items-center sm:flex-row gap-x-4 sm:gap-x-6 xl:gap-x-4">
                  <div class="flex-1 overflow-hidden text-center sm:text-left">
                    {{#if this.personalDetails.hasBeenChampion}}
                    <span class="text-sm sm:text-xs">Won World Chess Champion</span>
                    <hr class="w-2/5 sm:w-1/5 border-[1px] border-birch mx-auto sm:mx-0 mt-1 sm:mt-0">
                    {{else}}
                    <span class="text-sm sm:text-xs">Peak Rating: <b
                        class="ml-1 font-bold">{{this.personalDetails.peakFideRating}}</b></span>
                    <hr class="w-2/5 sm:w-1/5 border-[1px] border-birch mx-auto sm:mx-0 mt-1 sm:mt-0">
                    {{/if}}
                    <div class="my-2 font-serif font-bold uppercase text-oak">
                      <h4 class="text-center sm:text-left"><span
                          class="block text-2xl sm:inline sm:text-xl">{{this.personalDetails.firstName}}</span> <span
                          class="block text-xl sm:inline">{{this.personalDetails.lastName}}</span></h4>
                    </div>
                    <p class="sm:text-sm text-birch line-clamp-3 2xl:line-clamp-4">{{this.earlyLife}}</p>
                  </div>
                  <div class="mt-4 sm:mt-0 sm:ml-auto lg:block md:hidden sm:block">
                    <img src="/images/player-images/{{this.id}}.webp"
                      alt="{{this.personalDetails.firstName}} {{this.personalDetails.lastName}}"
                      class="rounded-md border-[1px] border-charcoal w-52 sm:w-40 lg:block md:hidden sm:block">
                  </div>
                </div>
              </div>
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
</div>
</form>
</div>