<div class="container px-4 py-20 mx-auto font-sans">
  {{!-- Main title section --}}
  <div class="mb-20 space-y-8">
    <div class="flex items-center justify-center 2xl:justify-evenly">
      <div class="lg:w-[300px] xl:w-auto">
        <img src="https://placeholder.co/400x150.png" alt="">
      </div>
      <div class="font-serif font-bold text-center uppercase xl:flex-1 2xl:flex-initial">
        <h2 class="mb-4 text-3xl">Our Hall Of</h2>
        <h1 class="text-5xl">Fame</h1>
      </div>
      <div class="lg:w-[300px] xl:w-auto">
        <img src="https://placeholder.co/400x150.png" alt="">
      </div>
    </div>
    <p class="w-3/5 mx-auto text-lg text-center">
      Celebrate the legends of chess in our Hall of Fame. Discover the stories, achievements, and timeless contributions
      of the greatest players in history, from world champions to groundbreaking innovators.
    </p>
    <div class="searchbar">
      <img src="https://placeholder.co/25.png" alt="">
      <input type="text" placeholder="Search For a Top-Rated Player...">
    </div>
  </div>

  <div>
    {{!-- Top players bar --}}
    <div class="w-4/5 pl-4 mb-4 ml-auto">
      <div class="flex items-center gap-x-4">
        <h3 class="font-serif text-xl font-bold uppercase">Players</h3>
        <div class="bg-white px-2 py-1 rounded-md border-[1px] border-spruce">
          {{paging.totalRecords}}
        </div>
        <div class="flex items-center">
          {{#if paging.hasPrev}}
          <a href="/hall-of-fame?page={{sub paging.currentPage 1}}"
            class="bg-white px-3 py-1 rounded-md border-[1px] border-spruce block">Prev.</a>
          {{else}}
          <div class="bg-white px-3 py-1 rounded-md border-[1px] border-gray-400 block text-gray-400 cursor-default">
            Prev.</div>
          {{/if}}
          <hr class="w-28 border-[1px] border-spruce">
          {{#if paging.hasNext}}
          <a href="/hall-of-fame?page={{add paging.currentPage 1}}"
            class="bg-white px-3 py-1 rounded-md border-[1px] border-spruce">Next</a>
          {{else}}
          <div class="bg-white px-3 py-1 rounded-md border-[1px] border-gray-400 block text-gray-400 cursor-default">
            Next</div>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="grid grid-cols-5">
      {{!-- Filters side bar --}}
      <div class="col-span-1 border-r-[1px] border-spruce">
        <form action="/hall-of-fame" method="post">
          {{!-- Filters title --}}
          <div class="flex items-center py-2 pr-4">
            <h3 class="flex-1 font-serif text-xl font-bold uppercase">Filters</h3>
            <span><img src="https://placeholder.co/25.png" alt=""></span>
          </div>
          <hr class="border-spruce">

          {{!-- Active Filters --}}
          <div class="mb-4 mr-2 active-filters">
            <div class="flex py-2 text-gray-500">
              <h3 class="mr-4">Active Filters</h3>
              <a href="#">^</a>
            </div>
            <ul class="h-40 mb-4 overflow-scroll">
              {{#each options.playingStyles}}
              {{#if this}}
              <li>
                <a href="#" class="mr-2 font-bold">X</a>
                <span>{{@key}}</span>
              </li>
              {{/if}}
              {{/each}}
              {{#if options.hasBeenChampion}}
              <li>
                <a href="#" class="mr-2 font-bold">X</a>
                <span>Former Champion</span>
              </li>
              {{/if}}
            </ul>
            <button type="submit" class="button !px-4 !py-1">Apply</button>
            <button type="reset" class="button !px-4 !py-1">Reset</button>
          </div>
          <hr class="border-spruce">

          {{!-- Playing styles --}}
          <div class="mb-4 mr-2">
            <div class="flex py-2 text-gray-500">
              <h3 class="mr-4">Playing Styles</h3>
              <a href="#">^</a>
            </div>
            <ul class="h-40 overflow-scroll">
              {{#each options.playingStyles}}
              <li>
                <input type="checkbox" name="playingStyles" id="{{@key}}" value="{{@key}}" class="mr-2" {{#if
                  this}}checked{{/if}}>
                <label for="{{@key}}">{{@key}}</label>
              </li>
              {{/each}}
            </ul>
          </div>

          {{!-- Peak rating --}}
          <div class="mb-4 mr-2">
            <div class="flex py-2 mb-2 text-gray-500">
              <h3 class="mr-4">Peak Rating (elo)</h3>
              <a href="#">^</a>
            </div>
            <div class="slider">
              <input type="range" min="2500" max="2900" step="50" value="{{options.ratingA}}" list="detents"
                name="ratingA">
              <input type="range" min="2500" max="2900" step="50" value="{{options.ratingB}}" list="detents"
                name="ratingB">
              <datalist id="detents">
                <option value="2500">
                <option value="2550">
                <option value="2600">
                <option value="2650">
                <option value="2700">
                <option value="2750">
                <option value="2800">
                <option value="2850">
                <option value="2900">
              </datalist>
            </div>
            <p class="text-sm">Range: <span class="ml-2 font-semibold rating-range-values">{{options.ratingA}} -
                {{options.ratingB}}</span></p>
          </div>

          {{!-- Was world champion --}}
          <div class="mb-4 mr-2">
            <div class="flex py-2 text-gray-500">
              <h3 class="mr-4">Chess Champion</h3>
              <a href="#">^</a>
            </div>
            <label class="inline-flex items-center cursor-pointer">
              <input type="checkbox" name="formerChampion" value="Former Champion" {{#if
                options.hasBeenChampion}}checked{{/if}} class="sr-only peer">
              <div
                class="relative w-11 mr-4 h-6 bg-gray-300 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-gray-300 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-dark-oak">
              </div>
              <span>Former Champion</span>
            </label>
          </div>
        </form>
      </div>
      <div class="col-span-4 pl-4">
        <div class="grid grid-cols-2 gap-8">
          {{#each players}}
          <div>
            <a href="/hall-of-fame/{{this.id}}">
              <div class="flex items-center h-48 p-2 bg-white rounded-lg">
                <div class="flex items-center gap-x-4">
                  <div>
                    {{#if this.personalDetails.hasBeenChampion}}
                    <span class="text-xs">Won World Chess Champion</span>
                    <hr class="w-2/5 border-[1px] border-dark-oak">
                    {{else}}
                    <span class="text-xs">Peak Rating: <b
                        class="ml-1 font-bold">{{this.personalDetails.peakFideRating}}</b></span>
                    <hr class="w-2/5 border-[1px] border-dark-oak">
                    {{/if}}
                    <div class="my-2 font-serif text-xl font-bold uppercase text-dark-oak">
                      <h4>{{this.personalDetails.firstName}} {{this.personalDetails.lastName}}</h4>
                    </div>
                    <p class="text-sm text-oak line-clamp-4">{{this.earlyLife}}</p>
                  </div>
                  <div class="min-w-40">
                    <img src="https://placeholder.co/600" alt="" class="rounded-lg border-[1px] border-spruce">
                  </div>
                </div>
              </div>
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>