<div class="container py-20 mx-auto font-sans">
  {{!-- Personal details --}}
  {{#with player}}
  {{#with personalDetails}}
  <div class="flex px-20 justify-evenly xl:px-28">
    <div class="w-1/2">
      <div class="mb-10 font-serif font-bold uppercase">
        <h2 class="mb-2 text-3xl">{{firstName}}</h2>
        <h1 class="text-4xl">{{lastName}}</h1>
        <hr class="w-1/4 border-[1px] border-spruce mt-4">
      </div>
      <div class="flex">
        <ul class="w-1/2 details-list">
          <li>Date Of Birth:</li>
          <li>{{dateOfBirth}}</li>
          <li>Place Of Birth:</li>
          <li>{{placeOfBirth}}</li>
          <li>Peak FIDE Rating:</li>
          <li>{{peakFideRating}}</li>
        </ul>
        <ul class="w-1/2 details-list">
          <li>Date Of Death:</li>
          <li>{{dateOfDeath}}</li>
          <li>Place Of Death:</li>
          <li>{{placeOfDeath}}</li>
          <li class="flex items-center font-bold !text-dark-oak">
            {{#if hasBeenChampion}}
            <span class="block mr-4"><img src="https://placeholder.co/80.png"></span>
            Won World Chess Champion Title
            {{/if}}
          </li>
        </ul>
      </div>
    </div>
    <div class="w-1/2">
      <img src="https://placeholder.co/400.png" alt="{{firstName}} {{lastName}}" class="ml-auto rounded-2xl">
    </div>
  </div>
  {{/with}}
  {{/with}}

  {{#with player}}
  <div class="mt-10 space-y-10 [&>*:nth-child(odd)]:bg-white">
    {{!-- Early Life --}}
    <div class="px-20 py-5 xl:px-28">
      <div class="mb-8">
        <div class="flex gap-x-2">
          <div>
            <img src="https://placeholder.co/50.png" alt="">
          </div>
          <div>
            <span class="italic">The Formative Years</span>
            <h3 class="font-serif text-xl font-bold uppercase">Early Life</h3>
          </div>
        </div>
        <hr class="w-1/4 border-[1px] border-spruce mt-2">
      </div>
      <div class="paragraphs-container">
        {{#makeParagraphs earlyLife}}{{/makeParagraphs}}
      </div>
    </div>

    {{!-- Rise to prominence --}}
    <div class="px-20 py-5 xl:px-28">
      <div class="mb-8">
        <div class="flex gap-x-2">
          <div>
            <img src="https://placeholder.co/50.png" alt="">
          </div>
          <div>
            <span class="italic">The Path To Stardom</span>
            <h3 class="font-serif text-xl font-bold uppercase">Rise To Prominence</h3>
          </div>
        </div>
        <hr class="w-1/4 border-[1px] border-spruce mt-2">
      </div>
      <div class="paragraphs-container">
        {{#makeParagraphs riseToProminence}}{{/makeParagraphs}}
      </div>
    </div>

    {{!-- World Chess Champion --}}
    <div class="px-20 py-5 xl:px-28">
      <div class="mb-8">
        <div class="flex gap-x-2">
          <div>
            <img src="https://placeholder.co/50.png" alt="">
          </div>
          <div>
            <span class="italic">The Pinnacle Of Success</span>
            <h3 class="font-serif text-xl font-bold uppercase">World Chess Champion</h3>
          </div>
        </div>
        <hr class="w-1/4 border-[1px] border-spruce mt-2">
      </div>
      <div class="paragraphs-container">
        {{#makeParagraphs worldChessChampion}}{{/makeParagraphs}}
      </div>
    </div>

    {{!-- Playing Style --}}
    <div class="px-20 py-5 xl:px-28">
      <div class="mb-8">
        <div class="flex gap-x-2">
          <div>
            <img src="https://placeholder.co/50.png" alt="">
          </div>
          <div>
            <span class="italic">Mastering The Chessboard</span>
            <h3 class="font-serif text-xl font-bold uppercase">Playing Style</h3>
          </div>
        </div>
        <hr class="w-1/4 border-[1px] border-spruce mt-2">
      </div>
      <div class="flex flex-wrap items-center gap-4 mx-auto lg:items-start lg:justify-center">
        {{#each playingStyle}}
        <div class="md:w-[calc(50%-1rem)] xl:w-[calc(33.333333%-1rem)]">
          <div class="p-4 bg-white rounded-lg">
            <div class="flex items-center mb-6 gap-x-2">
              <div class="flex-1">
                <span class="text-sm">{{subtitle}}</span>
                <h4 class="font-serif text-lg font-bold uppercase">{{name}}</h4>
                <hr class="w-3/4 border-[1px] border-spruce mt-2">
              </div>
              <img src="https://placeholder.co/70.png" alt="">
            </div>
            <p class="text-lg">{{description}}</p>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  {{/with}}
</div>