<div class="container py-20 mx-auto font-sans">
  {{!-- Personal details --}}
  {{#with player}}
  {{#with personalDetails}}
  <div class="flex flex-col items-center section-container lg:flex-row lg:items-start gap-y-10 lg:gap-0 justify-evenly">
    <div class="lg:w-1/2">
      <div class="mb-10 font-serif font-bold text-center uppercase lg:text-left">
        <h2 class="mb-2 text-3xl">{{firstName}}</h2>
        <h1 class="text-4xl">{{lastName}}</h1>
        <hr class="w-1/2 lg:w-1/4 border-[1px] border-spruce mt-4 mx-auto lg:mx-0">
      </div>
      <div class="flex justify-center text-center lg:text-left gap-x-2 lg:gap-x-0">
        <ul class="w-1/2 details-list">
          <li>Date Of Birth:</li>
          <li>{{dateOfBirth}}</li>
          <li>Place Of Birth:</li>
          <li>{{placeOfBirth}}</li>
          <li>Peak FIDE Rating:</li>
          <li>{{peakFideRating}}</li>
        </ul>
        <ul class="w-1/2 details-list">
          <li>Date Of Death:</li>
          <li>{{dateOfDeath}}</li>
          <li>Place Of Death:</li>
          <li>{{placeOfDeath}}</li>
          <li class="flex lg:flex-row items-center font-bold !text-dark-oak">
            {{#if hasBeenChampion}}
            <span class="block mr-4 text-5xl text-dark-oak lg:mr-3 icon-trophy"></span>
            Won World Chess Champion Title
            {{else}}
            <span class="block mr-3 text-4xl text-dark-oak icon-medal"></span>
            Not Yet Won World Chess Champion Title
            {{/if}}
          </li>
        </ul>
      </div>
    </div>
    <div class="lg:w-1/2">
      <img src="https://placeholder.co/400.png" alt="{{firstName}} {{lastName}}" class="ml-auto rounded-2xl">
    </div>
  </div>
  {{/with}}
  {{/with}}

  {{#with player}}
  <div class="mt-10 space-y-5 [&>*:nth-child(odd)]:bg-white mb-20">
    {{!-- Early Life --}}
    <section class="py-10 section-container">
      <div class="mb-8">
        <div class="flex items-center gap-x-4">
          <span class="text-4xl icon-person"></span>
          <div>
            <span class="italic">The Formative Years</span>
            <h3 class="font-serif text-xl font-bold uppercase">Early Life</h3>
          </div>
        </div>
        <hr class="w-1/4 border-[1px] border-spruce mt-2">
      </div>
      <div class="paragraphs-container">
        {{#makeParagraphs earlyLife}}{{/makeParagraphs}}
      </div>
    </section>

    {{!-- Rise to prominence --}}
    <section class="py-10 section-container">
      <div class="mb-8">
        <div class="flex items-center gap-x-4">
          <span class="text-4xl icon-path"></span>
          <div>
            <span class="italic">The Path To Stardom</span>
            <h3 class="font-serif text-xl font-bold uppercase">Rise To Prominence</h3>
          </div>
        </div>
        <hr class="w-1/4 border-[1px] border-spruce mt-2">
      </div>
      <div class="paragraphs-container">
        {{#makeParagraphs riseToProminence}}{{/makeParagraphs}}
      </div>
    </section>

    {{!-- World Chess Champion --}}
    <section class="py-10 section-container">
      <div class="mb-8">
        <div class="flex items-center gap-x-4">
          <span class="text-5xl icon-trophy"></span>
          <div>
            <span class="italic">The Pinnacle Of Success</span>
            <h3 class="font-serif text-xl font-bold uppercase">World Chess Champion</h3>
          </div>
        </div>
        <hr class="w-1/4 border-[1px] border-spruce mt-2">
      </div>
      <div class="paragraphs-container">
        {{#makeParagraphs worldChessChampion}}{{/makeParagraphs}}
      </div>
    </section>

    {{!-- Playing Style --}}
    <section class="py-10 section-container">
      <div class="mb-8">
        <div class="flex items-center gap-x-4">
          <span class="text-4xl icon-chessboard"></span>
          <div>
            <span class="italic">Mastering The Chessboard</span>
            <h3 class="font-serif text-xl font-bold uppercase">Playing Style</h3>
          </div>
        </div>
        <hr class="w-1/4 border-[1px] border-spruce mt-2">
      </div>
      <div class="flex flex-wrap items-center gap-4 mx-auto lg:items-start lg:justify-center">
        {{#each playingStyle}}
        <div class="md:w-[calc(50%-1rem)] xl:w-[calc(33.333333%-1rem)]">
          <div class="p-4 bg-white rounded-lg xl:h-64">
            <div class="flex items-center mb-6 gap-x-8 md:gap-x-2">
              <div class="md:flex-1">
                <span class="text-sm">{{subtitle}}</span>
                <h4 class="font-serif text-lg font-bold uppercase">{{name}}</h4>
                <hr class="w-3/4 border-[1px] border-spruce mt-2">
              </div>
              <span class="text-6xl icon-{{icon}}"></span>
            </div>
            <p class="text-lg">{{description}}</p>
          </div>
        </div>
        {{/each}}
      </div>
    </section>

    {{!-- Achievements and records section --}}
    <section class="py-10 section-container">
      <div class="mb-8">
        <div class="flex items-center gap-x-4">
          <span class="text-5xl icon-rank"></span>
          <div>
            <span class="italic">Milestones And Triumphs</span>
            <h3 class="font-serif text-xl font-bold uppercase">Achievements And Records</h3>
          </div>
        </div>
        <hr class="w-1/4 border-[1px] border-spruce mt-2">
      </div>
      <div class="paragraphs-container">
        {{#makeParagraphs achievementsAndRecords}}{{/makeParagraphs}}
      </div>
    </section>

    {{!-- Off the board section --}}
    <section class="py-10 section-container">
      <div class="mb-8">
        <div class="flex items-center gap-x-4">
          <span class="text-4xl icon-suitcase"></span>
          <div>
            <span class="italic">Beyond The Game</span>
            <h3 class="font-serif text-xl font-bold uppercase">Off The Board</h3>
          </div>
        </div>
        <hr class="w-1/4 border-[1px] border-spruce mt-2">
      </div>
      <div class="paragraphs-container">
        {{#makeParagraphs offTheBoard}}{{/makeParagraphs}}
      </div>
    </section>

    {{!-- Personal life section --}}
    <section class="py-10 section-container">
      <div class="mb-8">
        <div class="flex items-center gap-x-4">
          <span class="text-5xl icon-people"></span>
          <div>
            <span class="italic">The Person Behind The Pawn</span>
            <h3 class="font-serif text-xl font-bold uppercase">Personal Life</h3>
          </div>
        </div>
        <hr class="w-1/4 border-[1px] border-spruce mt-2">
      </div>
      <div class="paragraphs-container">
        {{#makeParagraphs personalLife}}{{/makeParagraphs}}
      </div>
    </section>

    {{!-- Fun fact section --}}
    <section class="py-10 section-container bg-dark-oak text-cream">
      <div class="relative mb-4 space-y-2 text-center">
        <div class="flex items-center justify-center mb-6 gap-x-6">
          <span class="text-4xl icon-queen"></span>
          <h3 class="">Learn More About {{personalDetails.firstName}} {{personalDetails.lastName}}</h3>
          <span class="text-4xl icon-queen"></span>
        </div>
        <div class="flex flex-col items-center justify-center mb-8">
          <hr class="w-full border-2 border-cream">
          <h2 class="px-4 font-serif text-3xl font-bold uppercase -translate-y-1/2 bg-dark-oak">Fun Fact</h2>
        </div>
      </div>
      <div class="paragraphs-container text-center !text-cream">
        {{#makeParagraphs funFact}}{{/makeParagraphs}}
      </div>
    </section>
  </div>
  {{/with}}

  {{!-- Search for more section --}}
  <section class="py-10 mb-10 text-center section-container"> {{!-- Section title --}}
    <div class="relative space-y-2 font-serif font-bold uppercase text-dark-oak">
      <h3 class="mb-8 text-3xl">Find More</h3>
      <div class="flex flex-col items-center justify-center mb-8">
        <hr class="w-full border-2 border-oak">
        <h2 class="px-4 text-4xl -translate-y-1/2 bg-cream">Chess Talents</h2>
      </div>
    </div>
    <p class="mx-auto mb-8 font-sans text-xl md:w-4/5 lg:w-3/5">
      Search for another top-rated chess player (a player rated over 2500) and discover more insights into these
      players' mindsets and ideologies.
    </p>
    <div class="searchbar">
      <span class="text-xl icon-search"></span>
      <input type="text" placeholder="Search For a Top-Rated Player...">
    </div>
  </section>

</div>