<div class="container px-8 pt-10 pb-20 mx-auto font-sans">
  {{!-- Navbar --}}
  <div class="flex items-center mb-10">
    <a href="#"
      class="bg-ash px-6 py-1 rounded-md border-birch border-[1px] whitespace-nowrap flex items-center gap-x-3">
      <span class="block rotate-180 icon-next-arrow"></span>
      <p>Prev.</p>
    </a>
    <hr class="w-full border-birch border-[1px]">
    <a href="#" class="bg-ash px-8 py-1 rounded-md border-birch border-[1px] whitespace-nowrap">Back To Hall of Fame</a>
    <hr class="w-full border-birch border-[1px]">
    <a href="#"
      class="bg-ash px-6 py-1 rounded-md border-birch border-[1px] whitespace-nowrap flex items-center gap-x-3">
      <p>Next</p>
      <span class="block icon-next-arrow"></span>
    </a>
  </div>

  {{!-- Personal details --}}
  {{#with player}}
  {{#with personalDetails}}
  <div class="grid grid-cols-1 lg:grid-cols-5">
    <div class="py-4 lg:col-span-3">
      {{!-- Title --}}
      <div class="relative space-y-2 font-serif font-bold text-center uppercase text-oak">
        <h3 class="mb-8 text-3xl sm:text-4xl">{{firstName}}</h3>
        <div class="flex flex-col items-center justify-center mb-8">
          <hr class="w-full border-2 border-oak">
          <h2 class="px-4 text-4xl -translate-y-1/2 sm:text-5xl bg-spruce">{{lastName}}</h2>
        </div>
      </div>

      {{!-- Details --}}
      <div class="grid grid-cols-2 gap-5 text-lg text-center">
        <div>
          <div class="px-6 py-3 ml-auto rounded-md bg-ash lg:w-11/12 xl:w-3/4 2xl:w-2/3">
            <h4>Date Of Birth</h4>
            <span class="font-bold">{{dateOfBirth}}</span>
          </div>
        </div>
        <div>
          <div class="px-6 py-3 mr-auto rounded-md bg-ash lg:w-11/12 xl:w-3/4 2xl:w-2/3">
            <h4>Place Of Birth</h4>
            <span class="font-bold">{{placeOfBirth}}</span>
          </div>
        </div>
        <div>
          <div class="px-6 py-3 ml-auto rounded-md bg-ash lg:w-11/12 xl:w-3/4 2xl:w-2/3">
            <h4>Date Of Death</h4>
            <span class="font-bold">{{dateOfDeath}}</span>
          </div>
        </div>
        <div>
          <div class="px-6 py-3 mr-auto rounded-md bg-ash lg:w-11/12 xl:w-3/4 2xl:w-2/3">
            <h4>Place Of Death</h4>
            <span class="font-bold">{{placeOfDeath}}</span>
          </div>
        </div>
        <div>
          <div class="px-6 py-3 ml-auto rounded-md bg-ash lg:w-11/12 xl:w-3/4 2xl:w-2/3">
            <h4>Peak FIDE Rating</h4>
            <span class="font-bold">{{peakFideRating}} Elo</span>
          </div>
        </div>
        <div>
          <div class="px-6 py-3 mr-auto rounded-md bg-ash lg:w-11/12 xl:w-3/4 2xl:w-2/3">
            <span class="font-bold">
              {{#if hasBeenChampion}}
              Has Been World Chess Champion
              {{else}}
              Not Yet Won World Chess Champion
              {{/if}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col justify-center mx-auto sm:w-3/4 md:w-2/3 lg:w-full lg:pl-8 lg:col-span-2 2xl:px-20">
      <img src="/images/player-images/{{../id}}.webp" alt="{{firstName}} {{lastName}}"
        class="rounded-md border-[1px] border-charcoal">
      <div class="flex flex-wrap justify-center gap-2 mt-2 text-sm lg:justify-normal">
        {{#if hasBeenChampion}}
        <a href="#"
          class="bg-dark-oak flex items-center gap-x-2 w-min py-1 px-2 rounded-md hover:bg-ash duration-150 border-transparent hover:border-birch border-[1px]">
          <span class="text-base icon-trophy"></span>
          <span class="whitespace-nowrap">Chess Champion</span>
        </a>
        {{/if}}
        <a href="#"
          class="bg-dark-oak flex items-center gap-x-2 w-min py-1 px-2 rounded-md hover:bg-ash duration-150 border-transparent hover:border-birch border-[1px]">
          <span class="text-base icon-star"></span>
          <span class="whitespace-nowrap">{{getRatingRange peakFideRating}} Elo</span>
        </a>
      </div>
    </div>
  </div>
  {{/with}}
  {{/with}}

  {{#with player}}
  <div class="mb-20 space-y-5">
    <div class="justify-center lg:flex gap-x-16">
      {{!-- Early Life --}}
      <section class="py-10">
        <div class="mb-8">
          <div class="flex items-center gap-x-4 text-oak">
            <div class="flex-1 order-2 lg:order-none">
              <span class="text-lg italic">The Formative Years</span>
              <h3 class="font-serif text-2xl font-bold uppercase">Early Life</h3>
            </div>
            <span class="order-1 text-5xl xl:text-6xl icon-person lg:order-none"></span>
          </div>
          <hr class="w-1/2 border-[1px] border-oak mt-2">
        </div>
        <div class="paragraphs-container">
          {{#makeParagraphs earlyLife}}{{/makeParagraphs}}
        </div>
      </section>

      {{!-- Rise to prominence --}}
      <section class="py-10">
        <div class="mb-8">
          <div class="flex items-center gap-x-4 text-oak">
            <div class="flex-1 order-2 lg:order-none">
              <span class="text-lg italic">The Path To Stardom</span>
              <h3 class="font-serif text-2xl font-bold uppercase">Rise To Prominence</h3>
            </div>
            <span class="order-1 text-5xl xl:text-6xl icon-path lg:order-none"></span>
          </div>
          <hr class="w-1/2 border-[1px] border-oak mt-2">
        </div>
        <div class="paragraphs-container">
          {{#makeParagraphs riseToProminence}}{{/makeParagraphs}}
        </div>
      </section>
    </div>

    {{!-- World Chess Champion --}}
    <section class="py-5">
      <div class="mb-8">
        <div class="flex items-center gap-x-4 text-oak">
          <span class="text-5xl icon-trophy"></span>
          <div>
            <span class="text-lg italic">The Pinnacle Of Success</span>
            <h3 class="font-serif text-2xl font-bold uppercase">World Chess Champion</h3>
          </div>
        </div>
        <hr class="w-1/2 lg:w-1/4 border-[1px] border-oak mt-2">
      </div>
      <div class="paragraphs-container">
        {{#makeParagraphs worldChessChampion}}{{/makeParagraphs}}
      </div>
    </section>

    {{!-- Playing Style --}}
    <section class="py-5">
      <div class="mb-8">
        <div class="flex items-center gap-x-4 text-oak">
          <span class="text-5xl icon-chessboard"></span>
          <div>
            <span class="text-lg italic">Mastering The Chessboard</span>
            <h3 class="font-serif text-2xl font-bold uppercase">Playing Style</h3>
          </div>
        </div>
        <hr class="w-1/2 lg:w-1/4 border-[1px] border-oak mt-2">
      </div>
      <div class="flex flex-wrap justify-center gap-4">
        {{#each playingStyle}}
        <div
          class="p-4 bg-ash bg-[url(/images/checkered-background.png)] rounded-lg xl:h-56 w-full md:w-[calc(50%-1rem)] lg:w-[calc(33.33%-1rem)]">
          <div class="flex items-center mb-6 gap-x-4 md:gap-x-0 text-oak">
            <div class="order-2 md:order-none md:flex-1">
              <span class="text-sm">{{subtitle}}</span>
              <h4 class="font-serif text-lg font-bold uppercase">{{name}}</h4>
              <hr class="w-1/2 sm:w-3/4 2xl:w-1/2 border-[1px] border-oak mt-2">
            </div>
            <span class="text-6xl icon-{{icon}} order-1 md:order-none"></span>
          </div>
          <p class="text-lg">{{description}}</p>
        </div>
        {{/each}}
      </div>
    </section>

    {{!-- Achievements and records section --}}
    <section class="py-5">
      <div class="mb-8">
        <div class="flex items-center gap-x-4 text-oak">
          <span class="text-6xl icon-rank"></span>
          <div>
            <span class="text-lg italic">Milestones And Triumphs</span>
            <h3 class="font-serif text-2xl font-bold uppercase">Achievements And Records</h3>
          </div>
        </div>
        <hr class="w-1/2 lg:w-1/4 border-[1px] border-oak mt-2">
      </div>
      <div class="paragraphs-container">
        {{#makeParagraphs achievementsAndRecords}}{{/makeParagraphs}}
      </div>
    </section>

    {{!-- Off the board section --}}
    <section class="py-5">
      <div class="mb-8">
        <div class="flex items-center gap-x-4 text-oak">
          <span class="text-5xl icon-suitcase"></span>
          <div>
            <span class="text-lg italic">Beyond The Game</span>
            <h3 class="font-serif text-2xl font-bold uppercase">Off The Board</h3>
          </div>
        </div>
        <hr class="w-1/2 lg:w-1/4 border-[1px] border-oak mt-2">
      </div>
      <div class="paragraphs-container">
        {{#makeParagraphs offTheBoard}}{{/makeParagraphs}}
      </div>
    </section>

    {{!-- Personal life section --}}
    <section class="py-5">
      <div class="mb-8">
        <div class="flex items-center gap-x-4 text-oak">
          <span class="text-5xl icon-people"></span>
          <div>
            <span class="text-lg italic">The Person Behind The Pawn</span>
            <h3 class="font-serif text-2xl font-bold uppercase">Personal Life</h3>
          </div>
        </div>
        <hr class="w-1/2 lg:w-1/4 border-[1px] border-oak mt-2">
      </div>
      <div class="paragraphs-container">
        {{#makeParagraphs personalLife}}{{/makeParagraphs}}
      </div>
    </section>

    {{!-- Fun fact section --}}
    <section class="py-5 bg-dark-oak text-cream">
      <div class="relative mb-4 space-y-2 text-center">
        <div class="flex items-center justify-center mb-6 gap-x-6">
          <span class="text-5xl icon-queen"></span>
          <h3 class="">Learn More About {{personalDetails.firstName}} {{personalDetails.lastName}}</h3>
          <span class="text-5xl icon-queen"></span>
        </div>
        <div class="flex flex-col items-center justify-center mb-8">
          <hr class="w-full border-2 border-cream">
          <h2 class="px-4 font-serif text-3xl font-bold uppercase -translate-y-1/2 bg-dark-oak">Fun Fact</h2>
        </div>
      </div>
      <div class="paragraphs-container text-center !text-cream">
        {{#makeParagraphs funFact}}{{/makeParagraphs}}
      </div>
    </section>
  </div>
  {{/with}}

  {{!-- Search for more section --}}
  <section class="py-5 mb-10 text-center"> {{!-- Section title --}}
    <div class="relative space-y-2 font-serif font-bold uppercase text-dark-oak">
      <h3 class="mb-8 text-3xl">Find More</h3>
      <div class="flex flex-col items-center justify-center mb-8">
        <hr class="w-full border-2 border-oak">
        <h2 class="px-4 text-4xl -translate-y-1/2 bg-cream">Chess Talents</h2>
      </div>
    </div>
    <p class="paragraph">
      Search for another top-rated chess player (a player rated over 2500) and discover more insights into these
      players' mindsets and ideologies.
    </p>
    <form action="/hall-of-fame" method="post">
      <div class="searchbar">
        <span class="text-xl icon-search"></span>
        <input type="text" placeholder="Search For a Top-Rated Player..." name="search">
      </div>
    </form>
  </section>

</div>