{{!-- {{#with dailyPuzzle}}
{{puzzle.id}}
{{/with}} --}}
<div class="container mx-auto font-sans">
  {{!-- Title --}}
  <section class="py-20 section-container">
    <div class="relative space-y-2 font-serif font-bold text-center uppercase text-dark-oak">
      <h3 class="mb-8 text-3xl">Our Daily</h3>
      <div class="flex flex-col items-center justify-center mb-8">
        <hr class="w-full border-2 border-oak">
        <h2 class="px-4 text-4xl -translate-y-1/2 bg-cream">Chess Puzzles</h2>
      </div>
      <p class="w-3/5 mx-auto font-sans text-lg normal-case">
        Take your chess game to the next level by challenging yourself with our daily chess puzzles. Each puzzle is
        carefully crafted to test and improve your tactical skills, strategic thinking, and overall chess knowledge.
      </p>
    </div>
  </section>

  {{!-- Puzzle --}}
  <section class="py-10 section-container">
    <div class="flex gap-x-10">
      {{!-- Board --}}
      <div class="w-3/5">
        <div class="w-full bg-red-400 aspect-square puzzle-board" data-pgn="{{dailyPuzzle.game.pgnArray}}"
          data-solution="{{dailyPuzzle.puzzle.solution}}" id="{{dailyPuzzle.game.id}}"></div>
      </div>

      {{!-- PGN panel --}}
      <div class="w-2/5 pgn-panel {{dailyPuzzle.game.id}}">
        <div class="flex flex-col h-full bg-white border-2 border-spruce">
          {{!-- Title --}}
          <div>
            <div class="flex flex-col items-start justify-center mt-7">
              <hr class="w-11/12 mx-auto border-2 border-oak">
              <h2 class="px-4 font-serif text-xl font-bold uppercase -translate-y-1/2 bg-white">PGN Panel</h2>
            </div>
          </div>

          {{!-- Moves --}}
          <div class="flex h-[400px] overflow-y-scroll border-y-[1px] bg-cream">
            <div class="grid w-12 grid-cols-1 text-center">
              {{#each dailyPuzzle.game.pgnArray}}
              <div class="even:hidden py-[2px] bg-white border-r-[1px]">{{getMoveNumberFromIndex (add @index 2)}}.
              </div>
              {{/each}}
            </div>
            <div class="grid flex-1 grid-cols-2">
              {{#each dailyPuzzle.game.pgnArray}}
              <div class="py-[2px] px-2 duration-75 hover:bg-dark-oak hover:text-cream border-spruce">{{this}}</div>
              {{/each}}
            </div>
          </div>

          {{!-- Message box --}}
          <div class="flex justify-center w-full text-center">
            <div class="px-4 py-10">
              <h4 class="font-serif text-lg font-bold uppercase message-box"></div>
            </h4>
          </div>
        </div>
      </div>
    </div>
</div>
</section>
</div>