<section class="container px-10 pt-20 mx-auto font-sans">
  <div class="flex flex-wrap items-end mb-32 lg:flex-nowrap gap-y-10 lg:gap-0">
    <div class="order-2 md:w-full lg:w-1/3 2xl:w-1/4 lg:order-1">
      <img src="/images/piece-images/beta/rook.webp" alt=""
        class="w-1/3 mx-auto sm:px-2 lg:w-3/5 xl:w-5/12 2xl:w-1/2 -scale-x-100">
    </div>
    <div class="order-1 text-center md:w-full lg:w-2/3 2xl:w-3/4 2xl:px-20 lg:order-2 sm:text-left">
      <h2 class="mb-4 font-serif text-2xl font-bold uppercase sm:text-3xl text-oak">Introducing</h2>
      <div class="flex flex-wrap items-center mb-6 gap-x-4 sm:flex-nowrap">
        <h1 class="w-full mb-4 font-serif text-4xl font-bold uppercase sm:w-auto sm:text-5xl text-oak sm:mb-0">
          The Rook
        </h1>
        <hr class="w-4/5 mx-auto border-2 sm:w-auto sm:flex-1 border-oak sm:mx-0">
      </div>
      <div class="space-y-4 text-lg">
        <p>
          The rook moves in straight lines, either horizontally or vertically, across the board. It can cover a lot of
          ground quickly and is particularly powerful in open positions. It can also work well with other pieces,
          coordinating attacks and controlling key squares.
        </p>
        <p>
          Rooks are strongest in open files and ranks, where they can control long stretches of the board. Mastering the
          rook helps you dominate the game and create powerful threats!
        </p>
      </div>
    </div>
  </div>

  <div class="flex flex-col-reverse items-center mb-32 lg:flex-row lg:gap-0 gap-y-8">
    <div
      class="px-2 py-3 w-full sm:w-4/5 lg:w-5/12 border-[1px] border-oak rounded-md flex items-center justify-center">
      <div id="{{ generateUUID }}"
        class="relative w-[98%] sm:w-[97%] lg:w-[97%] xl:w-[98%] 2xl:w-[99%] sample-board aspect-square after:content-[''] after:duration-500 after:w-full after:h-full after:absolute after:inset-0 after:backdrop-blur-lg after:z-10 after:rounded-md after:opacity-0"
        data-piece="rook" data-type="movements"></div>
    </div>
    <div class="w-full lg:w-7/12 lg:px-8">
      <div class="mb-10">
        <h2 class="mb-4 font-serif text-3xl font-bold text-center uppercase sm:text-left sm:text-4xl text-oak">How It
          Moves</h2>
        <hr class="w-4/5 mx-auto border-2 sm:w-full lg:w-4/5 border-oak sm:mx-0">
      </div>
      <div class="space-y-4 text-lg text-center sm:text-left">
        <p>
          The rook moves in straight lines, either horizontally or vertically, across the board. This allows it to
          control entire rows and columns, making it a formidable piece in open positions.
        </p>
        <p>
          This piece can move any number of squares in a straight line, but it cannot jump over other pieces. It is
          particularly powerful when placed on the same rank or file as another rook, forming a <span
            class="font-bold">rook battery</span>.
        </p>
        <p>
          The rook is also a key piece in endgames, where its ability to control open files and ranks can lead to
          decisive advantages.
        </p>
      </div>
    </div>
  </div>

  <div class="mb-20">
    <div class="mb-10">
      <h2 class="mb-4 font-serif text-3xl font-bold text-center uppercase sm:text-4xl text-oak">
        Key Facts
      </h2>
      <hr class="w-2/5 mx-auto border-2 border-oak">
    </div>
    <div class="flex flex-wrap justify-center gap-8 mx-auto max-w-96 md:max-w-none">
      {{> key-fact fact="Power on Open Files" description="Rooks thrive on open or half-open files, where their
      long-range movement allows them to control critical lines and pressure weak pawns effectively."}}

      {{> key-fact fact="Strength on Seventh Rank" description="A rook placed on the opponent's seventh rank can
      dominate, attacking vulnerable pawns and restricting the king's movement, often deciding games quickly."}}

      {{> key-fact fact="Behind Passed Pawns" description="In endgames, rooks are strongest behind passed pawns, either
      pushing their own forward or restraining the opponent's progress with constant pressure."}}

      {{> key-fact fact="Double Rooks' Pressure" description="Stacking two rooks on the same file or rank amplifies
      pressure, often overwhelming defensive resources and creating decisive tactical or positional threats."}}

      {{> key-fact fact="Back-Rank Mate" description="Rooks can deliver checkmate on the back rank if enemy pawns trap
      their king, making constant awareness of king safety essential."}}
    </div>
  </div>

  <div class="flex flex-col-reverse items-center mb-32 lg:flex-row lg:gap-0 gap-y-8">
    <div
      class="px-2 py-3 w-full sm:w-4/5 lg:w-5/12 border-[1px] border-oak rounded-md flex items-center justify-center tactic-boards-container">
      <div id="{{ generateUUID }}"
        class="relative w-[98%] sm:w-[97%] lg:w-[97%] xl:w-[98%] 2xl:w-[99%] sample-board aspect-square after:content-[''] after:duration-500 after:w-full after:h-full after:absolute after:inset-0 after:backdrop-blur-lg after:z-10 after:rounded-md after:opacity-0 active-tactic-board"
        data-piece="rook" data-type="tactics" data-tactic="backrankMate"></div>
      <div id="{{ generateUUID }}"
        class="relative w-[98%] sm:w-[97%] lg:w-[97%] xl:w-[98%] 2xl:w-[99%] sample-board aspect-square after:content-[''] after:duration-500 after:w-full after:h-full after:absolute after:inset-0 after:backdrop-blur-lg after:z-10 after:rounded-md after:opacity-0"
        data-piece="rook" data-type="tactics" data-tactic="pins"></div>
      <div id="{{ generateUUID }}"
        class="relative w-[98%] sm:w-[97%] lg:w-[97%] xl:w-[98%] 2xl:w-[99%] sample-board aspect-square after:content-[''] after:duration-500 after:w-full after:h-full after:absolute after:inset-0 after:backdrop-blur-lg after:z-10 after:rounded-md after:opacity-0"
        data-piece="rook" data-type="tactics" data-tactic="skewers"></div>
      <div id="{{ generateUUID }}"
        class="relative w-[98%] sm:w-[97%] lg:w-[97%] xl:w-[98%] 2xl:w-[99%] sample-board aspect-square after:content-[''] after:duration-500 after:w-full after:h-full after:absolute after:inset-0 after:backdrop-blur-lg after:z-10 after:rounded-md after:opacity-0"
        data-piece="rook" data-type="tactics" data-tactic="forks"></div>
      <div id="{{ generateUUID }}"
        class="relative w-[98%] sm:w-[97%] lg:w-[97%] xl:w-[98%] 2xl:w-[99%] sample-board aspect-square after:content-[''] after:duration-500 after:w-full after:h-full after:absolute after:inset-0 after:backdrop-blur-lg after:z-10 after:rounded-md after:opacity-0"
        data-piece="rook" data-type="tactics" data-tactic="batteries"></div>
    </div>
    <div class="w-full lg:w-7/12 lg:px-8">
      <div class="mb-10">
        <h2 class="mb-4 font-serif text-3xl font-bold text-center uppercase sm:text-left sm:text-4xl text-oak">
          Common Tactics
        </h2>
        <hr class="w-4/5 mx-auto border-2 sm:w-full lg:w-4/5 border-oak sm:mx-0">
      </div>
      <div class="mb-8 text-lg text-center sm:text-left tactic-info-container">
        <div class="space-y-4 active-tactic-text" data-tactic="backrankMate">
          <p>
            <span class="font-bold">Back-rank mates</span> involve the rook (or queen) delivering checkmate along the
            back rank, often with the enemy king trapped behind its own pawns.
          </p>
          <p>
            This tactic exploits the fact that the rook can control an entire rank, and it is particularly effective
            when the opponent's king has limited mobility due to its own pieces blocking escape routes.
          </p>
        </div>
        <div class="space-y-4" data-tactic="pins">
          <p>
            A <span class="font-bold">pin</span> is a tactical motif where a piece is immobilized because moving it
            would expose a more valuable piece behind it.
          </p>
          <p>
            This tactic is particularly effective against pieces that are pinned to the king, as any attempt to move
            the pinned piece would expose the king to check.
          </p>
        </div>
        <div class="space-y-4" data-tactic="skewers">
          <p>
            A <span class="font-bold">skewer</span>, similar to a pin, is a tactic where a more valuable piece is in
            front of an undefended, less valuable piece.
          </p>
          <p>
            The more valuable piece is forced to move to avoid being captured, rendering the piece behind it vulnerable
            ready for capture on the next move.
          </p>
        </div>
        <div class="space-y-4" data-tactic="forks">
          <p>
            A <span class="font-bold">fork</span> is a tactic which involves attacking two undefended or higher valued
            pieces at the same time, forcing the opponent to make a tough decision.
          </p>
          <p>
            The opponent can only save one of the pieces, at the expense of the other. On the next move, whichever piece
            was left undefended will be captured.
          </p>
        </div>
        <div class="space-y-4" data-tactic="batteries">
          <p>
            A <span class="font-bold">battery</span> is a formation of heavy pieces which line up on the same file or
            rank, providing a powerful attacking force.
          </p>
          <p>
            This formation allows for coordinated attacks and can create multiple threats at once, making it difficult
            for the opponent to defend their position effectively.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap justify-center gap-2 sm:justify-start tactics">
        <button type="button"
          class="px-6 py-1.5 bg-dark-oak border-[1px] border-transparent rounded-md hover:bg-ash hover:border-birch duration-300 active-tactic"
          data-tactic="backrankMate">
          Back-Rank Mates
        </button>
        <button type="button"
          class="px-6 py-1.5 bg-dark-oak border-[1px] border-transparent rounded-md hover:bg-ash hover:border-birch duration-300"
          data-tactic="pins">
          Pins
        </button>
        <button type="button"
          class="px-6 py-1.5 bg-dark-oak border-[1px] border-transparent rounded-md hover:bg-ash hover:border-birch duration-300"
          data-tactic="skewers">
          Skewers
        </button>
        <button type="button"
          class="px-6 py-1.5 bg-dark-oak border-[1px] border-transparent rounded-md hover:bg-ash hover:border-birch duration-300"
          data-tactic="forks">
          Forks
        </button>
        <button type="button"
          class="px-6 py-1.5 bg-dark-oak border-[1px] border-transparent rounded-md hover:bg-ash hover:border-birch duration-300"
          data-tactic="batteries">
          Batteries
        </button>
      </div>
    </div>
  </div>

  <div class="mb-20">
    <div class="flex items-center justify-center sm:justify-between">
      <a href="/learn/pieces/queen" class="px-6 py-1.5 border rounded-md bg-ash border-birch duration-300">
        Previous
      </a>
      <hr class="w-full border-birch border-[1px] sm:block hidden">
      <div
        class="px-6 py-1.5 border rounded-md bg-ash border-birch duration-300 text-nowrap font-serif sm:block hidden">
        THE ROOK
      </div>
      <hr class="w-full border-birch border-[1px]">
      <a href="/learn/pieces/knight" class="px-6 py-1.5 border rounded-md bg-ash border-birch duration-300">
        Next
      </a>
    </div>
  </div>
</section>